<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>765964445353-cm9tloegog8tmgfa26esu0f9v4dafq8u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765964445353-cm9tloegog8tmgfa26esu0f9v4dafq8u</string>
	<key>API_KEY</key>
	<string>AIzaSyCNcw0Ysv8cw93p0WA-K-30SBHzMac7TrU</string>
	<key>GCM_SENDER_ID</key>
	<string>765964445353</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>diplomado.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>myprojectfirebase-80640</string>
	<key>STORAGE_BUCKET</key>
	<string>myprojectfirebase-80640.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765964445353:ios:cd3f2a4bb0a11cc3</string>
	<key>DATABASE_URL</key>
	<string>https://myprojectfirebase-80640.firebaseio.com</string>
</dict>
</plist>